.About {
  margin-top: 150px;
}

.About p {
  margin: 40px 20px 0 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .About {
    text-align: center;
    margin-right: 3rem;
  }
}

#about {
  height: 400px;
  display: inline-block;
}
