.Home h2 {
  font-size: 36px;
  line-height: 34px;
  font-weight: 600px;
}
.home-text {
  margin-top: 240px;
}

.Home h2 {
  font-size: 25px;
}

.Home h3 {
  font-size: 64px;
}

.Home h4 {
  font-size: 30px;
  margin-bottom: 10rem;
}

.Home img {
  width: 80%;
}

#home {
  height: 550px;
  display: inline-block;
}
