.Projects {
  margin-top: 150px;
}

.Projects h2 {
  padding-bottom: 30px;
}

.Projects p {
  font-size: 19px;
}

.Projects .weather-app {
  width: 50%;
}

.Projects .dictionary {
  width: 75%;
}

.Projects button {
  background: #1a1b1f;
  color: white;
  font-size: 12px !important;
  line-height: 20px !important;
  border-style: none;
  text-transform: uppercase !important;
  padding: 12px 25px;
  margin: 0 10px 0 0;
}

#projects {
  height: 1050px;
  display: inline-block;
}

@media (max-width: 768px) {
  .Projects {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}
