.Projects {
  margin-top: 100px;
}

.Projects h2 {
  padding-bottom: 30px;
}

.weather-app {
  width: 50%;
}

.dictionary {
  width: 75%;
}

button {
  background: #1a1b1f;
  color: white;
  font-size: 12px !important;
  line-height: 20px !important;
  border-style: none;
  text-transform: uppercase !important;
  padding: 12px 25px;
  margin: 0 10px 0 0;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

#projects {
  height: 900px;
  display: inline-block;
}
