.Skills {
  margin-top: 100px;
}

.html {
  color: #dd4b25;
}

.css {
  color: #254bdd;
}

.javaScript {
  color: #f7c327;
}

.bootstrap {
  color: #533c78;
}

.react {
  color: #61dbfb;
}

.api {
  color: grey;
}

.GitHub {
  color: #24292e;
}

.Skills .card-title {
  font-size: 2.5vmin;
}

.Skills .skills-icon {
  font-size: 10vw;
}

#skills {
  height: 625px;
  display: inline-block;
}

@media (max-width: 768px) {
  .Skills {
    text-align: center;
  }
}
